@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.context {
    margin: 0 auto;
    /* Center the content horizontally */
    max-width: 2000px;
    /* Set a maximum width for the content */
    padding: 0 20px;
    /* Add padding to the sides of the content */
    width: 100%;
    position: absolute;
    background: transparent;
    color: black;
    /* Set a higher z-index for the text content */
}


body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.wrapper {
    overflow: hidden;
}

.icon-circle-box {
    color: white; /* Set the text color to white */
}

.icon-circle-box h4 {
    margin-top: 20px;
    /* Add margin to the top of the h4 headings */
}

@media (max-width: 768px) {

    /* Adjust styles for smaller screens */
    .col-md-4 {
        width: 100%;
        /* Full width for columns on smaller screens */
    }

    .text-center {
        text-align: center;
        /* Center-align text on smaller screens */
    }

    .carousel-img {
        height: 50vh;
        /* Adjust height for smaller screens */
    }

    .area {
        height: 50vh;
        /* Adjust height for smaller screens */
    }

    .circles li {
        width: 10px;
        /* Adjust size for smaller screens */
        height: 10px;
        /* Adjust size for smaller screens */
        animation-duration: 15s;
        /* Adjust animation duration for smaller screens */
    }
}

#carouselExample {
    position: relative;
    z-index: 3; /* Set a higher z-index for the image carousel */
}

.carousel-img {
    width: 100%;
    height: 35vh; /* Set the height to 100% of the viewport height */
    object-fit: cover;
  }

  .area {
    background: #032f70;
    background: -webkit-linear-gradient(to left, #0c9449, #021f06);
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden; /* Remove scroll bar */
}


.circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -100;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.v-middle {
    position: relative;
    z-index: 2; /* Set a higher z-index for the content */
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


